* { box-sizing: border-box; }

body {
background-color: #AE0D7A;
background-image: url(img/pink.png);
background-size: 2000px;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
font-family:Sansita Swashed, cursive;
}
